@import './base/common';
@import './base/container';
@import './base/reset';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/customer-reviews';
@import './layouts/contacts';
@import './layouts/footer';
