.franchise {
  padding: 28px 30px;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  @media screen and(min-width:768px) {
    width: 568px;
    height: 668px;
    padding: 32px 60px;
  }
}
.franchise__form {
  @media screen and(min-width:768px) {
    width: 368px;
    height: 332px;
    margin-left: auto;
    margin-right: auto;
  }
}
.franchise__title {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  @media screen and(min-width:768px) {
    font-size: 20px;
    line-height: 1.4;
  }
}
.franchise__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
}
.franchise__label {
  display: block;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
.franchise__input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  padding: 8px 12px 7px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  height: 32px;
  width: 100%;
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
}
.franchise__textarea {
  width: 100%;
  height: 100%;

  padding: 8px 12px 7px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  resize: none;
  margin-bottom: 24px;
  @media screen and(min-width:768px) {
    font-size: 16px;
    height: 84px;
    margin-bottom: 32px;
  }
}
.franchise__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 114px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  border-color: transparent;
  &:hover {
    background: #0a8817;
    color: #000000;
  }
  &:focus {
    color: #fcfcfc;
    background: #0a8817;
  }
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @media screen and(min-width:768px) {
    width: 20px;
    height: 20px;
  }
}
