:root {
  --primary-text-color: #131313;
  --white-text-color: #fcfcfc;
  --last-text-color: #7a7a7a;
  --orange-text-color: #d6936d;
  --gray-text-color: #ababab;

  --background-green: #84a178;
  --background-yellow: #efd478;
  --background-orange: #d6936d;
  --background-white: #ffffff;

  --btn-text-black: #000000;
  --btn-text-white: #fcfcfc;
  --btn-background-yellow: #f8d24e;
  --btn-background-green: #0a8817;
  --btn-background-gray: #ababab;

  --border-gray: #e1e1e1;
}
