:root {
    --primary-text-color: #131313;
    --white-text-color: #FCFCFC;
    --last-text-color: #7A7A7A;

    --background-green: #84A178;
    --background-yellow: #EFD478;
    --background-orange: #D6936D;

    --btn-text-black: #000000;
    --btn-text-white: #FCFCFC;
    --btn-background-yellow: #F8D24E;
    --btn-background-green: #0A8817;
    --btn-background-gray: #ABABAB;
}