<div class="section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages list">
      <li class="advantages__item">
        <h3 class="advantages__title advantages__title--cow">721</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title advantages__title--weight">16kg</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title advantages__title--ice-crema">84</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</div>
