<!-- Contacts section -->
<section class="contacts section">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts__container container">
        <ul class="contacts__list cards-set">
            <li class="contacts__item cards-set-item">
                <p class="contacts__department">Cafe</p>
                <ul class="contacts__addr">
                    <li class="contacts__citystr">Chicago</li>
                    <li class="contacts__citystr">10340 Ridgeland Ave,<br> Chicago Ridge, IL 60415, USA</li>
                </ul>

                <ul class="contacts__time">
                    <li class="contacts__dayhour">Monday - Friday</li>
                    <li class="contacts__dayhour">06:00 AM - 10:00 PM</li>
                    <li class="contacts__dayhour">Saturday - Sunday</li>
                    <li class="contacts__dayhour">08:00 AM - 16:00 PM</li>
                </ul>

                <ul class="contacts__links">
                    <li class="contacts__link"><a href="tel:+610383766284" class="contacts__phone">+61(0) 383 766
                            284</a></li>
                    <li class="contacts__link"><a href="mailto:noreply@envato.com"
                            class="contacts__mail">noreply@envato.com</a></li>
                </ul>
            </li>

            <li class="contacts__item cards-set-item">
                <p class="contacts__department">Foodtruck</p>
                <ul class="contacts__addr">
                    <li class="contacts__citystr">Los Angeles</li>
                    <li class="contacts__citystr">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</li>
                </ul>

                <ul class="contacts__time">
                    <li class="contacts__dayhour">Monday - Friday</li>
                    <li class="contacts__dayhour">06:00 AM - 10:00 PM</li>
                    <li class="contacts__dayhour">Saturday - Sunday</li>
                    <li class="contacts__dayhour">08:00 AM - 16:00 PM</li>
                </ul>

                <ul class="contacts__links">
                    <li class="contacts__link"><a href="tel:+610383766284" class="contacts__phone">+61(0) 383 766
                            284</a></li>
                    <li class="contacts__link"><a href="mailto:noreply@envato.com"
                            class="contacts__mail">noreply@envato.com</a></li>
                </ul>
            </li>

            <li class="contacts__item cards-set-item">
                <p class="contacts__department">Cafe</p>
                <ul class="contacts__addr">
                    <li class="contacts__citystr">New York</li>
                    <li class="contacts__citystr">726 Sterling Pl, Brooklyn, NY 11222, USA</li>
                </ul>

                <ul class="contacts__time">
                    <li class="contacts__dayhour">Monday - Friday</li>
                    <li class="contacts__dayhour">06:00 AM - 10:00 PM</li>
                    <li class="contacts__dayhour">Saturday - Sunday</li>
                    <li class="contacts__dayhour">08:00 AM - 16:00 PM</li>
                </ul>

                <ul class="contacts__links">
                    <li class="contacts__link"><a href="tel:+610383766284" class="contacts__phone">+61(0) 383 766
                            284</a></li>
                    <li class="contacts__link"><a href="mailto:noreply@envato.com"
                            class="contacts__mail">noreply@envato.com</a></li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__buttons">
            <li class="contacts__buttons-item"><button class="button__locations">Our Locations</button></li>
            <li class="contacts__buttons-item"><button class="button__franchise">Franchise</button></li>
        </ul>

    </div>
</section>