<section class="section customer-reviews">
    <div class="container">
        <ul class="customer-reviews__list">
            <li class="customer-reviews__item">
                <div class="customer-reviews__photo">
                    <img class="customer-reviews__img" srcset="
                    ./images/customer-reviews/customer-photo-1-85.jpg 85w, 
                    ./images/customer-reviews/customer-photo-1-170.jpg 170w"
                        sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (min-width: 320px) 85px, 100vw"
                        src="./images/customer-reviews/customer-photo-1-85.jpg" alt="Customer Photo">
                </div>
                <div class="customer-reviews__card">
                    <p class="customer-reviews__txt">
                        I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition,
                        you
                        have beautiful serving, cozy atmosphere and polite
                        staff.
                    </p>
                </div>
                <div class="customer-reviews__name-item">
                    <p class="customer-reviews__name">Emily, Los Angeles</p>
                </div>
            </li>
            <!-- <li class="customer-reviews__item">
                <div class="customer-reviews__photo">
                    <img class="customer-reviews__img" srcset="
                    ./images/customer-reviews/customer-photo-2-85.jpg 85w, 
                    ./images/customer-reviews/customer-photo-2-170.jpg 170w"
                        sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (min-width: 320px) 85px, 100vw"
                        src="./images/customer-reviews/customer-photo-2-85.jpg" alt="Customer Photo">
                </div>
                <div class="customer-reviews__card">
                    <p class="customer-reviews__txt">
                        I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to
                        everyone I know.
                    </p>
                </div>
                <div class="customer-reviews__name-item">
                    <p class="customer-reviews__name">Sam, Los Angeles</p>
                </div>
            </li>
            <li class="customer-reviews__item">
                <div class="customer-reviews__photo">
                    <img class="customer-reviews__img" srcset="
                    ./images/customer-reviews/customer-photo-3-85.jpg 85w, 
                    ./images/customer-reviews/customer-photo-3-170.jpg 170w"
                        sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (min-width: 320px) 85px, 100vw"
                        src="./images/customer-reviews/customer-photo-3-85.jpg" alt="Customer Photo">
                </div>
                <div class="customer-reviews__card">
                    <p class="customer-reviews__txt">
                        Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
                        excellent service - always served politely and quickly!
                    </p>
                </div>
                <div class="customer-reviews__name-item">
                    <p class="customer-reviews__name">Diana, Chicago</p>
                </div>
            </li> -->

        </ul>

        <div class="wrapper">
            <input type="radio" name="slide" id="" class="customer-reviews__radio" checked>
            <input type="radio" name="slide" id="" class="customer-reviews__radio">
            <input type="radio" name="slide" id="" class="customer-reviews__radio">
        </div>
    </div>
</section>