<section class="section customer-reviews">
    <div class="container">
        <ul class="customer-reviews__photos">
            <li class="customer-reviews__photo">
                <img class="customer-reviews__img" srcset="
                ./images/customer-reviews/customer-photo-1-85.jpg 85w, 
                ./images/customer-reviews/customer-photo-1-170.jpg 170w"
                    sizes="(min-width: 1200px) 85px, (min-width: 768px) 85px, (min-width: 320px) 85px, 100vw"
                    src="./images/customer-reviews/customer-photo-1-85.jpg" alt="Customer Photo">
            </li>
        </ul>
        <ul class="customer-reviews__items">
            <li class="customer-reviews__item">
                <p class="customer-reviews__txt">
                    I love visiting your cafe.
                </p>
                <p class="customer-reviews__txt">
                    You prepare the most delicious ice cream in Los Angeles!
                </p>
                <p class="customer-reviews__txt">
                    In addition, you have beautiful serving, cozy atmosphere and polite
                    staff.
                </p>
            </li>
        </ul>
        <p class="customer-reviews__name">Emily, Los Angeles</p>
        <div class="wrapper">
            <input type="radio" name="slide" id="" class="customer-reviews__radio" checked>
            <input type="radio" name="slide" id="" class="customer-reviews__radio">
            <input type="radio" name="slide" id="" class="customer-reviews__radio">
        </div>
    </div>
</section>