<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <h2 class="footer__title">homemade ice cream made</h2>
      <p class="footer__text">with passion</p>
    </div>

    <div class="footer__box-contact">
      <div class="footer__contact">
        <ul class="footer__contact-list list">
          <li class="footer__github-link link">
            <a href="https://github.com" target="_blank" class="footer__contact-github"><svg
                class="fooer__contact-icon">
                <use href="./images/icons.svg#github"></use>
              </svg></a>
          </li>
          <li class="footer__telegram-link link">
            <a href="https://telegram.org" target="_blank" class="footer__contact-telegram"><svg
                class="fooer__contact-icon">
                <use href="./images/icons.svg#telegram"></use>
              </svg></a>
          </li>
          <li class="footer__facebook-link link">
            <a href="https://www.facebook.com" target="_blank" class="footer__contact-facebook"><svg
                class="fooer__contact-icon">
                <use href="./images/icons.svg#facebook"></use>
              </svg></a>
          </li>
        </ul>
      </div>
      <div class="footer__tell">
        <p class="footer__tell-text">Feel free to contact</p>
        <a class="footer__tell-numbber link" href="tell:+610383766284">
          +61 (0) 383 766 284</a>
      </div>
    </div>
  </div>

  <div class="footer__polic footer-line">
    <p class="footer__polic-text">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>