    <footer class="footer container ">
      <div class="footer__container">
      <div class="footer__content">
<h2 class="footer__title">homemade ice cream made</h2>
<p class="footer__text">with passion</p>
</div>


<div class="footer__tell">
<P class="footer__tell-text">Feel free to contact</P>
<a class="footer__tell-numbber link" href="tell:+610383766284"> +61 (0) 383 766 284</a>
<div class="footer__contact-list">
    <div class="footer__github-link link"><a href=""><svg class="footer__contact-github"><use href="./images/icons.svg#github" ></use></svg></a></div>
    <div class="footer__telegram-link link"><a href=""><svg class="footer__contact-telegram"><use href="./images/icons.svg#telegram" ></use></svg></a></div>
    <div class="footer__facebook-link link"><a href=""><svg class="footer__contact-facebook"><use href="./images/icons.svg#facebook" ></use></svg></a></div>
</div>
</div>
</div>
</div>

</footer>
<div class="container footer__polic footer-line">
        <p class="footer__polic-text">© 2022 - IceCream. All Rights Reserved.</p>
</div>