<footer class="footer">
  <div class="footer-box--top container">
    <div class="footer-left-side">
      <p class="footer-uppertitle">homemade ice cream made</p>
      <h2 class="footer-title">with passion</h2>
    </div>

    <div class="footer-right-side">
      <ul class="footer-list list">
        <li class="footer-item">
          <a href="#" class="footer-social-link"
            ><svg class="footer-social-icon" width="32" height="32">
              <use href="./images/icons.svg#github"></use></svg
          ></a>
        </li>
        <li class="footer-item">
          <a href="#" class="footer-social-link"
            ><svg class="footer-social-icon" width="32" height="32">
              <use href="./images/icons.svg#telegram"></use></svg
          ></a>
        </li>
        <li class="footer-item">
          <a href="#" class="footer-social-link"
            ><svg class="footer-social-icon" width="32" height="32">
              <use href="./images/icons.svg#facebook"></use></svg
          ></a>
        </li>
      </ul>

      <p class="footer-contacts-text">
        Feel free to contact
        <a class="link footer-contacts-link" href="tell:+610383766284">
          +61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>

  <div class="border"></div>

  <div class="footer-box--bottom container">
    <p class="footer-police">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
