<section class="gallery">

  <div class="container">
    <h2 class="gallery_heading visually-hidden">Gallery</h2>
    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">

        <picture>
          <source media="(min-width: 1200px)"
            srcset="./images/gallery_slider/img_l-@1x.jpg 1x, ./images/gallery_slider/img_l-@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/gallery_slider/img_m-@1x.jpg 1x, ./images/gallery_slider/img_m-@2x.jpg 2x">

          <source media="(max-width: 767px)"
            srcset="./images/gallery_slider/img_s-@1x.jpg 1x, ./images/gallery_slider/img_s-@2x.jpg 2x">

          <img class="img" src="./images/gallery_slider/img_l-@1x.jpg">
        </picture>

      </div>

      <div class="mySlides fade">

        <picture>
          <source media="(min-width: 1200px)"
            srcset="./images/gallery_slider/img_l1-@1x.jpg 1x, ./images/gallery_slider/img_l1-@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/gallery_slider/img_m1-@1x.jpg 1x, ./images/gallery_slider/img_m1-@2x.jpg 2x">

          <source media="(max-width: 767px)"
            srcset="./images/gallery_slider/img_s1-@1x.jpg 1x, ./images/gallery_slider/img_s-@2x.jpg 2x">
          <img class="img" src="./images/gallery_slider/img_l1-@1x.jpg">
        </picture>

      </div>

      <div class="mySlides fade">

        <picture>
          <source media="(min-width: 1200px)"
            srcset="./images/gallery_slider/img_l2-@1x.jpg 1x, ./images/gallery_slider/img_l2-@2x.jpg 2x">

          <source media="(min-width: 768px)"
            srcset="./images/gallery_slider/img_m2-@1x.jpg 1x, ./images/gallery_slider/img_m2-@2x.jpg 2x">

          <source media="(max-width: 767px)"
            srcset="./images/gallery_slider/img_s2-@1x.jpg 1x, ./images/gallery_slider/img_s2-@2x.jpg 2x">
          <img class="img" src="./images/gallery_slider/img_l2-@1x.jpg">
        </picture>

      </div>
    </div>
</section>