<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a class="logo link" href="./index.html">
        <img
          src="./images/hero/logo.png"
          alt="ice cream logo"
          class="icon-logo"
        />
      </a>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a class="site-nav__link link" href="./index.html">Home</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#about">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#products">Our products</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="menu-btn js-open-menu" type="button">
      <svg class="menu__icon" width="32" height="32" aria-label="menu-switch">
        <use class="icon-menu" href="./images/icons.svg#menu"></use>
      </svg>
    </button>
    <button type="button" class="header__btn" data-modal-hero-open>
      Buy now >
    </button>
  </div>
</header>

<section class="hero">
  <div class="container hero__container">
    <div class="hero__first-box">
      <h1 class="hero__title">
        ice cream made with <span class="hero__bold-txt">passion</span>
      </h1>
      <ul class="hero-buttons__list">
        <li class="hero-buttons__item">
          <a href="#products" class="border-link hero__link link">Products</a>
        </li>
        <li class="hero-buttons__item">
          <a href="#about" class="unborder-link hero__link link"
            >How it’s made?</a
          >
        </li>
      </ul>
      <div class="hero__capture-box">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/hero/plate-lg-@1x.png 1x,
              ./images/hero/plate-lg-@2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero/plate-md-@1x.png 1x,
              ./images/hero/plate-md-@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="hero__capture-img"
            src="./images/hero/plate-md-@1x.png"
            alt="plate of ice cream"
            loading="lazy"
          />
        </picture>
        <div class="hero__description">
          <p class="desc__txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="desc__btn" type="button">
            <svg class="desc__icon" width="40" height="16">
              <use href="./images/icons.svg#icon-Arrow-1"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hero__img-box">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/ice-cream-lg-@1x.png 1x,
            ./images/hero/ice-cream-lg-@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/ice-cream-md-@1x.png 1x,
            ./images/hero/ice-cream-md-@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/ice-cream-sm-@1x.png 1x,
            ./images/hero/ice-cream-sm-@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero__main-img"
          src="./images/hero/ice-cream-sm-@1x.png"
          alt="boss ice cream"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/hero/dots-lg-@1x.png 1x,
            ./images/hero/dots-lg-@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/dots-md-@1x.png 1x,
            ./images/hero/dots-md-@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/dots-sm-@1x.png 1x,
            ./images/hero/dots-sm-@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="hero__background-img"
          src="./images/hero/dots-sm-@1x.png"
          alt="background dots"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/face-md@1x.png 1x,
            ./images/hero/face-md@2x.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/face-sm@1x.png 1x,
            ./images/hero/face-sm@2x.png 2x
          "
          type="image/png"
        />
        <img
          class="smile-pic-1"
          src="./images/hero/face-sm@1x.png"
          alt="ice cream smile face-1"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/face-md@1x-1.png 1x,
            ./images/hero/face-md@2x-1.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/face-sm@1x-1.png 1x,
            ./images/hero/face-sm@2x-1.png 2x
          "
          type="image/png"
        />
        <img
          class="smile-pic-2"
          src="./images/hero/face-sm@1x-1.png"
          alt="ice cream smile face-2"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero/face-md@1x-2.png 1x,
            ./images/hero/face-md@2x-2.png 2x
          "
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./images/hero/face-sm@1x-2.png 1x,
            ./images/hero/face-sm@2x-2.png 2x
          "
          type="image/png"
        />
        <img
          class="smile-pic-3"
          src="./images/hero/face-sm@1x-2.png"
          alt="ice cream smile face-3"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="hero__second-box">
      <ul class="achievement-list list">
        <li class="achievement-item">
          <p class="achievement__txt-numbers">16</p>
          <p class="achievement__txt">cafes</p>
        </li>
        <li class="achievement-item">
          <p class="achievement__txt-numbers">23</p>
          <p class="achievement__txt">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Mobile menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="modal-head">
    <a class="logo link" href="./index.html">
      <img
        src="./images/hero/logo.png"
        alt="ice cream logo"
        class="icon-logo"
      />
    </a>
    <button class="menu-btn js-close-menu">
      <svg
        class="close-menu__icon"
        aria-label="menu-switch"
        width="19"
        height="19"
      >
        <use class="icon-cross" href="./images/icons.svg#btn-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-menu list">
    <li class="mobile-menu__item">
      <a
        href="./index.html"
        class="mobile-menu__link link mobile-menu__link--active"
        >Home</a
      >
    </li>
    <li class="mobile-menu__item">
      <a href="#about" class="mobile-menu__link link">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#product" class="mobile-menu__link link">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a href="#contacts" class="mobile-menu__link link">Contact</a>
    </li>
  </ul>
  <button type="button" class="header__btn" data-modal-hero-open>
    Buy now >
  </button>
</div>

<!-- Buy now modal -->
<div class="overlay-buy-now is-hidden" data-modal-hero>
  <div class="buy-now-modal">
    <button
      class="buy-now-modal__btn--close"
      type="button"
      data-modal-hero-close
    >
      <svg class="buy-now-modal__icon" width="20" height="20">
        <use href="./images/icons.svg#close-button"></use>
      </svg>
    </button>
    <h2 class="buy-now-modal__title">Buy now</h2>
    <form class="buy-now-form">
      <div class="buy-now-form__container" role="group">
        <label class="buy-now__label-check">
          <input type="checkbox" name="ice-cream" class="buy-now__checked" />
          <div class="buy-now-form__box">
            <div class="buy-now-form__box--img"></div>
            <p class="buy-now-box__title">Ice cream</p>
          </div>
        </label>
        <label class="buy-now__label-check">
          <input type="checkbox" name="ice-cream" class="buy-now__checked" />
          <div class="buy-now-form__box">
            <div class="buy-now-form__box--img"></div>
            <p class="buy-now-box__title">Ice coffee</p>
          </div>
        </label>
        <label class="buy-now__label-check">
          <input type="checkbox" name="ice-cream" class="buy-now__checked" />
          <div class="buy-now-form__box">
            <div class="buy-now-form__box--img"></div>
            <p class="buy-now-box__title">Milkshakes</p>
          </div>
        </label>
      </div>
      <label class="buy-now-form__label">
        <input
          class="buy-now-form__input"
          type="text"
          name="Name"
          placeholder="Name"
          required
        />
      </label>
      <label class="buy-now-form__label">
        <input
          class="buy-now-form__input"
          type="tel"
          name="tel"
          placeholder="Phone"
          required
          minlength="12"
          maxlength="12"
        />
      </label>
      <label class="buy-now-form__label">
        <textarea
          class="buy-now-form__input buy-now-form__textarea"
          name="comment"
          rows="3"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="buy-now-form__btn" type="submit">Submit</button>
    </form>
  </div>
</div>
