<!-- buy now -->
<div class="buy-now-backdrop is-hidden" data-modal>
  <div class="buy-now-modal">
    <button class="buy-now-modal__btn--close" type="button" data-modal-close>
      <svg class="buy-now-modal__icon" width="20" height="20">
        <use href="./images/icons.svg#btn-close"></use>
      </svg>
    </button>
    <h2 class="Buy-now-modal__title">Buy now</h2>
    <ul class="buy-now-modal__list">
      <li class="buy-now-modal__item">
        <div class="buy-now-box"></div>
        <h3 class="buy-now-box__title">ice cream</h3>
      </li>
      <li class="buy-now-modal__item">
        <div class="buy-now-box"></div>
        <h3 class="buy-now-box__title">ice coffee</h3>
      </li>
      <li class="buy-now-modal__item">
        <div class="buy-now-box"></div>
        <h3 class="buy-now-box__title">milkshake</h3>
      </li>
    </ul>
    <form class="buy-now-form">
      <label class="buy-now-form__label">
        <input
          class="buy-now-form__input"
          type="text"
          name="Name"
          placeholder="Name"
        />
      </label>
      <label class="buy-now-form__label">
        <input
          class="buy-now-form__input"
          type="tel"
          name="tel"
          placeholder="Phone"
        />
      </label>
      <label class="buy-now-form__label">
        <textarea
          class="buy-now-form__input buy-now-form__textarea"
          name="comment"
          rows="3"
          placeholder="Comment"
        ></textarea>
      </label>

      <button class="buy-now-form__btn" type="submit">Submit</button>
    </form>
  </div>
</div>
