<section class="section products" id="products">
  <div class="container products-container">
    <p class="uppertitle">100% natural</p>
    <h2 class="section-title">Products</h2>
    <ul class="list product-list">
      <li class="product-item">
        <div class="product-box"></div>
        <h3 class="product-title">ice cream</h3>
        <p class="product-text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="product-btn" type="button" data-modal-open></button>
      </li>
      <li class="product-item">
        <div class="product-box"></div>
        <h3 class="product-title">ice coffee</h3>
        <p class="product-text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="product-btn" type="button" data-modal-open></button>
      </li>
      <li class="product-item">
        <div class="product-box"></div>
        <h3 class="product-title">milkshakes</h3>
        <p class="product-text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="product-btn" type="button" data-modal-open></button>
      </li>
    </ul>
  </div>
</section>
