:root {
  // indent between columns
  --indent: 20px;

  // number of cards
  --items: 1;
}

// Набір карток
.cards-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.cards-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.contacts {
  font-size: 12px;
  font-weight: 500;

  padding: 20px;
  background: linear-gradient(
    180deg,
    transparent 345px,
    var(--background-green) 0
  );

  @media screen and (min-width: 768px) {
    padding: 31px;

    background: linear-gradient(
      180deg,
      transparent 305px,
      var(--background-green) 0
    );
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;

    background: linear-gradient(
      180deg,
      transparent 96px,
      var(--background-green) 0
    );
  }
}

.contacts__container {
  padding-left: 0;
  padding-right: 0;
}

.contacts__list {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    --indent: 16px;
    --items: 3;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 64px;
  }
}

.contacts__item {
  padding: 40px 32px;

  border-radius: 24px;
  background-color: var(--background-white);

  @media screen and (min-width: 768px) {
    padding: 40px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 40px;
  }
}

.contacts__department {
  display: inline-flex;
  padding: 0 23px;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: calc(22 / 12);

  text-transform: uppercase;

  color: var(--primary-text-color);
  border-radius: 4px;
  background-color: var(--btn-background-yellow);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    padding: 0 14px;

    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts__addr::after,
.contacts__time::after {
  content: '';
  margin-bottom: 24px;

  display: block;
  width: 100%;
  border-bottom: 1px solid var(--border-gray);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.contacts__citystr {
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  &:nth-child(odd) {
    margin-bottom: 8px;

    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 8px;

      line-height: calc(30 / 16);
    }
  }

  &:nth-child(even) {
    margin-bottom: 24px;

    color: var(--orange-text-color);

    @media screen and (min-width: 768px) {
      margin-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 32px;
      line-height: calc(29 / 16);
    }
  }

  &:last-child {
    @media screen and (min-width: 768px) {
      width: 159px;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }
}

.contacts__line {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.contacts__dayhour {
  font-size: 12px;
  line-height: calc(22 / 12);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }

  &:nth-child(odd) {
    color: var(--primary-text-color);
  }
  &:nth-child(even) {
    margin-bottom: 8px;

    color: var(--gray-text-color);

    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }
  &:last-child {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }
}

.contacts__phone,
.contacts__mail {
  font-size: 12px;
  line-height: calc(18 / 12);
  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts__buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 120px;
  }
}

%button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  border-radius: 10px;
}

.button__locations {
  @extend %button;

  background-color: var(--btn-background-yellow);
  border: 0;
  color: var(--primary-text-color);

  &:hover,
  &:focus {
    background-color: var(--btn-background-green);
  }
}

.button__franchise {
  @extend %button;

  border: 2px solid var(--btn-background-yellow);
  border-radius: 10px;
  background-color: transparent;

  &:hover,
  &:focus {
    border: 2px solid var(--btn-background-green);
  }
}

.contacts__arrow {
  margin-left: 6px;
}
