.customer-reviews {
  font-family: Montserrat, sans-serif;
}

.customer-reviews__img {
  margin: 0 auto;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

.customer-reviews__card {
  margin: 0 auto;
  padding: 34px 39px;
  background-color: var(--background-green);
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    padding: 29px 80px;
    max-width: 705px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    padding: 39px 109px 47px;
    max-width: 968px;
  }
}

.customer-reviews__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(31 / 12);
  text-align: center;
  color: var(--white-text-color);

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.customer-reviews__name {
  margin-bottom: 14px;
  font-size: 20px;
  line-height: calc(37 / 20);

  text-align: center;

  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.customer-reviews__radio {
  appearance: none;
  z-index: 100;
  margin-right: 18px;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;

  &:checked {
    background-color: var(--background-green);
  }

  &:last-child {
    margin-right: 0;
  }
}

.wrapper {
  margin-bottom: 48px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

/**
  |============================
  | Slider
  |============================
*/
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
