// Header

.header,
.hero {
  background-color: var(--background-green);
}

.header__container {
  display: flex;
  padding-bottom: 61px;
  padding-top: 12px;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    padding-bottom: 45px;
  }
}

.icon-logo {
  cursor: pointer;
  width: 40px;
  height: 37px;
  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }
  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.site-nav {
  display: flex;
  gap: 27px;
  margin-left: 269px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.site-nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-text-color);

  &:hover,
  &:focus {
    color: var(--btn-background-yellow);
  }
}

.header__btn {
  width: 152px;
  height: 42px;
  background-color: var(--btn-background-yellow);
  border-radius: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-text-color);

  &:hover {
    background-color: var(--btn-background-green);
    color: var(--btn-text-black);
  }
  &:focus {
    background-color: var(--btn-background-green);
    color: var(--white-text-color);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu-container.is-open .header__btn {
  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// Hero

.hero__container {
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 65px;
  }
}

.hero__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 26px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 32px;
  width: 247px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.28;
    width: 181px;
    margin-bottom: 20px;
    padding-top: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.26;
    width: 367px;
    margin-bottom: 28px;
  }
}

.hero__bold-txt {
  font-size: 34px;
  line-height: 33px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 24px;
    line-height: 13px;
  }
}

.hero__first-box {
  z-index: 1000;
}

.hero-buttons__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 8px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    gap: 12px;
    margin-bottom: 42px;
  }
}

.hero__link {
  font-weight: 600;
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-link {
  border: 2px solid var(--btn-background-yellow);
  border-radius: 8px;
  color: var(--primary-text-color);
  width: 62px;
  height: 24px;

  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.25;
    width: 62px;
    height: 24px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    width: 134px;
    height: 42px;
  }

  &:hover {
    border: 2px solid var(--btn-background-green);
  }
  &:focus {
    border: 2px solid var(--btn-background-green);
    color: var(--white-text-color);
  }
}

.unborder-link {
  font-weight: 600;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration-line: underline;
  color: var(--btn-background-yellow);

  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.25;
    width: 82px;
    height: 24px;
  }
  @media screen and (min-width: 1200px) {
    width: 154px;
    height: 40px;
    font-size: 14px;
    line-height: 1.21;
  }

  &:hover {
    color: var(--btn-background-green);
  }
  &:focus {
    color: var(--white-text-color);
  }
}

.hero__capture-box {
  display: flex;
}

.hero__capture-img {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-right: 33px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 14px;
  }
}

.hero__description {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    width: 151px;
  }
  @media screen and (min-width: 1200px) {
    width: 200px;
    margin-top: 69px;
  }
}

.desc__txt {
  color: var(--white-text-color);
  line-height: 140%;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.hero__capture-box {
  display: flex;
  align-items: center;
}

.hero__second-box {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.achievement__txt-numbers {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.22;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.21;
  }
  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.22;
  }
}

.achievement__txt {
  font-weight: 400;
  text-align: right;
  color: var(--white-text-color);

  @media screen and (min-width: 768px) {
    font-size: 8px;
    line-height: 1.25;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.hero__img-box {
  height: 219px;
}

.hero__background-img {
  position: absolute;
  bottom: 0;
  left: 0;
  @media screen and (min-width: 768px) {
    bottom: 0px;
    right: 0px;
  }
  @media screen and (min-width: 1200px) {
    bottom: 0px;
    right: 0px;
  }
}

.hero__main-img {
  position: absolute;
  z-index: 1000;

  @media screen and (max-width: 767px) {
    left: 90px;
    bottom: 0;
  }
  @media screen and (min-width: 768px) {
    bottom: 0px;
    right: 93px;
  }
  @media screen and (min-width: 1200px) {
    bottom: 0px;
    right: 93px;
  }
}

.smile-pic-1 {
  position: absolute;
  @media screen and (max-width: 767px) {
    bottom: 125px;
    left: 162px;
    z-index: 1500;
  }
  @media screen and (min-width: 768px) {
    top: 0;
    right: 105px;
    z-index: 1500;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.smile-pic-2 {
  position: absolute;
  @media screen and (max-width: 767px) {
    bottom: 48px;
    left: 164px;
    z-index: 1500;
  }
  @media screen and (min-width: 768px) {
    bottom: 75px;
    right: 95px;
    z-index: 1500;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.smile-pic-3 {
  position: absolute;
  @media screen and (max-width: 767px) {
    bottom: 100px;
    left: 113px;
    z-index: 1500;
  }
  @media screen and (min-width: 768px) {
    bottom: 158px;
    right: 210px;
    z-index: 1500;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.desc__btn {
  display: block;
  min-width: 50px;
  height: 26px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  &:hover {
    transform: scaleX(1.1);
  }

  &:focus {
    transform: scale(1.1);
  }
}

.desc__icon {
  fill: #fff;
}

// Header mobile menu

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.icon-menu {
  fill: #fff;
}

.modal-head {
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.menu-container {
  background-color: var(--background-green);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px 20px 63px 20px;
  transform: translateX(100%);
  transition: transform 400ms;

  @media screen and (min-width: 768px) {
    padding: 20px 32px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.close-menu__icon {
  fill: #fff;
  cursor: pointer;
}

.mobile-menu {
  margin-bottom: auto;
  text-align: center;
}

.mobile-menu__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.mobile-menu__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  color: var(--white-text-color);

  &:hover,
  &:focus {
    color: var(--btn-background-yellow);
  }
}

// Buy now modal
.overlay-buy-now {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  z-index: 2000;
  transition: 0.5s all;
}

.overlay-buy-now.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s all;
}

.buy-now-modal {
  position: absolute;
  z-index: 3000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;
  max-height: 100%;
  padding: 28px;

  background-color: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  @media screen and (max-width: 767px) {
    overflow: scroll;
  }
  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 54px;
  }
}

.buy-now-modal__btn--close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  background-color: inherit;

  &:hover {
    fill: #0a8817;
  }

  &:focus {
    fill: #0a8817;
  }
}

.buy-now-modal__title {
  margin-bottom: 20px;

  font-family: 'Seymour One';
  color: #131313;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

// form buy now
.buy-now-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-now-form__label:nth-child(-n + 2) {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.buy-now-form__label:nth-child(3) {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.buy-now-form__input {
  width: 224px;
  padding: 8px 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  color: #131313;
  font-size: 12px;
  line-height: 140%;

  @media screen and (min-width: 768px) {
    width: 368px;
    padding: 11px 16px;
  }
}

.buy-now-form__textarea {
  resize: none;
}

.buy-now-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 114px;
  height: 42px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 24px;

  background: #f8d24e;
  color: #131313;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  cursor: pointer;

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;
    color: #fcfcfc;
  }

  @media screen and (min-width: 1200px) {
    width: 142px;
    margin-top: 32px;
  }
}

// test
.buy-now-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-bottom: 24px;

  list-style: none;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }
}

.buy-now__label-check {
  position: relative;
}

.buy-now-form__box {
  position: relative;

  width: 132px;
  height: 206px;

  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}

.buy-now-form__box--img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 132px;
  height: 136px;
  border-radius: 180px;

  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  &::after {
    content: '';

    position: absolute;
    top: -9px;
    right: 0;

    width: 100%;
    height: 100%;
    background-image: url(../images/product/modal-by-now/modal-bynow-img1-s-@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.buy-now__label-check:nth-child(2) .buy-now-form__box {
  border: 2px solid #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);

  .buy-now-form__box--img {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);

    &::after {
      background-image: url(../images/product/modal-by-now/modal-bynow-img2-s-@2x.png);
    }
  }
}

.buy-now__label-check:nth-child(3) .buy-now-form__box {
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

  .buy-now-form__box--img {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);

    &::after {
      background-image: url(../images/product/modal-by-now/modal-bynow-img3-s-@2x.png);
    }
  }
}

.buy-now-box__title {
  margin-top: 160px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;
}

.buy-now__checked {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}

.buy-now__checked:checked + .buy-now-form__box {
  background-color: #96af8c;
}

.buy-now__label-check:nth-child(2)
  .buy-now__checked:checked
  + .buy-now-form__box {
  background-color: #efd478;
}

.buy-now__label-check:nth-child(3)
  .buy-now__checked:checked
  + .buy-now-form__box {
  background-color: #d6936d;
}
