.products {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/product/bgi/products-bgi-l-@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product/bgi/products-bgi-l-@2x.png);
  }
}

.uppertitle {
  margin-bottom: 12px;

  color: #131313;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04em;
  }
}

.section-title {
  margin-bottom: 148px;

  color: #131313;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;

    font-size: 34px;
    line-height: calc(43 / 34);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 303px;

    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
  }
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 164px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.product-item {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 280px;
  min-height: 420px;
  padding: 123px 40px 20px;
  border-radius: 24px;

  background-color: #aec6a5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    max-width: 224px;
    min-height: 428px;
    padding-top: 107px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 370px;
    min-height: 535px;
    padding-top: 166px;
  }

  .product-box {
    position: absolute;
    top: -23%;
    left: 50%;
    transform: translateX(-50%);

    width: 200px;
    height: 211px;
    border-radius: 150px;

    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

    @media screen and (min-width: 768px) {
      width: 199px;
      height: 197px;
    }

    @media screen and (min-width: 1200px) {
      top: -30%;
      width: 302px;
      height: 300px;
    }

    &::before {
      position: absolute;
      bottom: 17px;

      content: '';

      display: block;
      width: 200px;
      height: 200px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media screen and (min-width: 768px) {
        width: 199px;
        height: 197px;
      }

      @media screen and (min-width: 1200px) {
        width: 302px;
        height: 300px;
      }

      // Mobile screen
      background-image: url(../images/product/img/products-img1-s-@1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/product/img/products-img1-s-@2x.png);
      }

      // Tablet screen
      @media screen and (min-width: 768px) {
        background-image: url(../images/product/img/products-img1-m-@1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product/img/products-img1-m-@2x.png);
        }
      }

      // Desktop screen
      @media screen and (min-width: 1200px) {
        background-image: url(../images/product/img/products-img1-l-@1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product/img/products-img1-l-@2x.png);
        }
      }
    }
  }
}

.product-item:nth-child(2) {
  background-color: #efd478;

  .product-box {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

    &::before {
      // Mobile screen
      background-image: url(../images/product/img/products-img2-s-@1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/product/img/products-img2-s-@2x.png);
      }

      // Tablet screen
      @media screen and (min-width: 768px) {
        background-image: url(../images/product/img/products-img2-m-@1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product/img/products-img2-m-@2x.png);
        }
      }

      // Desktop screen
      @media screen and (min-width: 1200px) {
        background-image: url(../images/product/img/products-img2-l-@1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product/img/products-img2-l-@2x.png);
        }
      }
    }
  }
}

.product-item:nth-child(3) {
  background-color: #d6936d;

  .product-box {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

    &::before {
      // Mobile screen
      background-image: url(../images/product/img/products-img3-s-@1x.png);

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/product/img/products-img3-s-@2x.png);
      }
      // Tablet screen
      @media screen and (min-width: 768px) {
        background-image: url(../images/product/img/products-img3-m-@1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product/img/products-img3-m-@2x.png);
        }
      }
      // Desktop screen
      @media screen and (min-width: 1200px) {
        background-image: url(../images/product/img/products-img3-l-@1x.png);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/product/img/products-img3-l-@2x.png);
        }
      }
    }
  }
}

.product-title {
  margin-bottom: 40px;

  color: #131313;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;

    font-size: 30px;
    line-height: calc(37 / 30);
  }
}

.product-text {
  color: #131313;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.product-btn {
  position: relative;
  width: 40px;
  height: 2px;
  margin: auto auto 0 auto;
  padding: 0;
  background-color: #131313;
  border: none;
  outline: none;

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    right: -2px;
    transform: rotate(35deg);

    width: 15px;
    height: 2px;
    background-color: #131313;
    border-radius: 2px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    right: -2px;
    transform: rotate(-35deg);

    width: 15px;
    height: 2px;
    background-color: #131313;
    border-radius: 2px;
  }
}

.product-btn:hover {
  width: 50px;
}

.product-btn:focus {
  width: 50px;
  height: 4px;
}

.product-btn:focus:after {
  width: 20px;
  height: 4px;
  top: -5px;
}

.product-btn:focus:before {
  width: 20px;
  height: 4px;
  bottom: -5px;
}
